<h1 class="title" style="color: blue;">{{ title }}</h1>

<ul>
  <li *ngFor="let mobPart of mobParts">
    <p [ngStyle]="{ 'text-shadow': '2px 2px 1px red' }">
      Products id : {{ mobPart.id }}
    </p>
    <p [style.color]="mobPart.prodColor">Products name: {{ mobPart.name }}</p>
    <ng-container *ngIf="mobPart.inStock != 0; then stockVal; else outOfStock">
    </ng-container>

    <ng-template #stockVal>
      Last <mark>{{ mobPart.inStock }}</mark> Parts Available in stock now...
    </ng-template>

    <ng-template #outOfStock>
      Out Of Stock
    </ng-template>
    <p [ngStyle]="{ display: mobPart.veg === true ? 'block' : 'none' }">
      Veg :
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Green_sphere.svg/2000px-Green_sphere.svg.png"
        width="16"
      />
    </p>
  </li>
</ul>
